#hero {
  background-image: url("../../../../assets/bg-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  backdrop-filter: grayscale( 0%);
  /* filter: blur(10px); */
  /* backdrop-filter: brightness(10%); */
}

#super-hero{
  backdrop-filter: brightness(40%);
}