@import "keep-react/css";
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}


@layer base {
  
  html { 
    @apply m-0 p-0
  }

  body{
    @apply bg-black overflow-x-hidden overflow-y-scroll m-0 p-0 ;
  }

  h2{
    @apply text-3xl font-bold text-center;
  }

  select {
    @apply block w-full py-3 pl-1 pr-4 border-b border-gray-400 outline-none text-sm text-gray-400;
  }


}

@layer components {
  .App {
    @apply flex items-center  justify-between min-h-screen bg-gray-500
  }
  .btn {
    @apply flex gap-2 items-center  justify-center  py-2 px-4 font-semibold shadow-md rounded-lg;
  }
  .btn.btn-light{
    @apply bg-white text-gray-500;
  }
  .btn.btn-danger {
    @apply text-white bg-red-600 shadow-red-400/40;
  }
  .btn.btn-warning {
    @apply text-white bg-yellow-300 shadow-yellow-400/40 text-yellow-800;
  }
  .btn.btn-success {
    @apply text-white bg-green-200 shadow-green-400/40 text-green-800;
  }
  .row-table {
    @apply p-3 text-sm text-gray-700 whitespace-nowrap;
  }
  .container-section {
    @apply container mx-auto;
  }
  
  .navbar-container {
    @apply fixed top-0 left-0 z-[100] w-full h-auto bg-black  rounded border-secondary
  }
  .span-primary {
    @apply bg-primary;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
}


